<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Types.Properties.Settings.MersinBANConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=MersinBAN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Types.Properties.Settings.dbProCozumlerConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=dbProCozumler;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Types.Properties.Settings.MersinBANConnectionString1"
      connectionString="Data Source=ONURALTUN-PC\ONUR;Initial Catalog=MersinBAN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Types.Properties.Settings.MersinBANConnectionString2"
      connectionString="Data Source=ONUR;Initial Catalog=MersinBAN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Types.Properties.Settings.MersinBANConnectionString3"
      connectionString="Data Source=mssql2005.turhost.com;Initial Catalog=MersinBAN;Persist Security Info=True;User ID=MersinBAN;Password=123qweASD"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>